<!DOCTYPE html>
<html lang="es">
<head>
  {{content_for_header}}
  <meta charset="UTF-8">
  <title>Hola</title>
  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>
<body>
  {%  section 'header' %}
  <div class="main"> {% comment  %} render header section  {% endcomment %}
    {{content_for_layout}} 
  </div>
  {% section 'footer' %}
  </div>
</body>
</html>
