<header class="header">
<div class="logo">
  <h1>
    <a href="/">{{ settings.site_name }}</a> 
  </h1>
</div>
<input class="menu-btn" type="checkbox" id="menu-btn" />
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
  {% for link in section.settings.header_menu.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>  
</header>
{%  schema  %} 
{
"name": "Header",
"settings": [
  {
    "type": "link_list",
    "id": "header_menu",
    "label": "Header Menu",
    "default": "main-menu"
  }
]
}

{% endschema %}